/* ------------------------------------------------------------------------- */
/* RESET                                                                     */
/* ------------------------------------------------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}

img {
    max-width: 100%;
    height: auto;
}

ol,
ul {
    list-style: none;
}

li:last-child {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------------------------------------------------------------------------- */
/* VARIABLES                                                                 */
/* ------------------------------------------------------------------------- */

:root {
    --background-color: #f5f5f5;
    --primary-color: #171717;
    --secondary-color: #f5f5f5;
    --tertiary-color: #d5d5d5;
    --text-color: #171717;
    --link-color: #3c88e6;
    --link-hover-color: #ef4444;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --code-font: 'Fira Code', monospace;

    --padding-general: 20px;
}

.dark-mode {
    --background-color: #171717;
    --primary-color: #f5f5f5;
    --secondary-color: #171717;
    --tertiary-color: #d5d5d5;
    --text-color: #f5f5f5;
    --link-color: #3c88e6;
    --link-hover-color: #ef4444;
}



/* ------------------------------------------------------------------------- */
/* HELPERS                                                                   */
/* ------------------------------------------------------------------------- */

.container {
    margin: 0 auto;
    max-width: 720px;
    padding: var(--padding-general);
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}


/* ------------------------------------------------------------------------- */
/* STRUCTURE                                                                 */
/* ------------------------------------------------------------------------- */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

header,
main,
footer {
    width: 100%;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    border-bottom: 5px solid #d5d5d5;
}


/* ------------------------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------------------------- */

nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a {
    color: var(--secondary-color);
}

.nav-title {
    margin: var(--padding-general) 0;
}

.title-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.nav-links a {
    font-size: 13.5px;
    margin: 0 5px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px var(--tertiary-color);
}

.nav-links a::before,
.nav-links a.active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.nav-links a:hover::before,
.nav-links a.active::before {
    transform: scaleX(1);
}

.nav-links a.active,
.nav-links a:hover {
    color: var(--secondary-color);
}

.moon,
.sun {
    text-shadow: none;
}


/* ------------------------------------------------------------------------- */
/* CONTENT                                                                   */
/* ------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

code,
pre {
    font-family: var(--code-font);
}

table {
    width: 100%;
}

th,
td {
    border: 1px solid var(--primary-color);
    padding: 10px;
    text-align: left;
}

td {
    color: var(--text-color);
}

th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* ------------------------------------------------------------------------- */
/* FOOTER                                                                    */
/* ------------------------------------------------------------------------- */

footer {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

footer p {
    margin-bottom: 5px;
}